*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    size: 12px;
}
body {
    padding: 10px;
    background-image: url("img/papel/fundo_azul_vermelho.png");
    background-attachment: fixed;
}
img {
    right: 2cm;
    width: 2cm;
    height: 2cm;
}
div .corpo {
	width:auto;
	height:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color:azure;
}
